appdirs==1.4.3
atomicwrites==1.1.5
attrs==18.1.0
certifi==2018.4.16
chardet==3.0.4
cx-Freeze==5.1.1
daemon==1.2
docutils==0.14
eventlet==0.23.0
gevent==1.3.1
greenlet==0.4.13
idna==2.6
lockfile==0.12.2
more-itertools==4.1.0
packaging==17.1
pluggy==0.6.0
psutil==5.4.5
py==1.5.3
pyparsing==2.2.0
pytest==3.6.0
requests==2.18.4
six==1.11.0
urllib3==1.22
